---
http_interactions:
- request:
    method: post
    uri: https://api.iterable.com/api/events
    body:
      encoding: UTF-8
      string: '{"body":{"apiKey":null,"eventName":"Event A","userId":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Request-Time:
      - '0'
      X-Upstream:
      - high_traffic
    body:
      encoding: ASCII-8BIT
      string: "\n\n\n\n    <!doctype html>\n    <html>\n        <head>\n            <meta
        charset=\"utf-8\">\n            <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n
        \           <title ng-non-bindable>Action not found</title>\n            <meta
        name=\"description\" content=\"Action not found\" ng-non-bindable>\n            <meta
        name=\"viewport\" content=\"width=device-width, maximum-scale=1, user-scalable=no\">\n
        \           <link rel=\"stylesheet\" href=\"//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\"/>\n
        \           <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'
        type='text/css'>\n            <link rel=\"stylesheet\" href=\"https://use.typekit.net/adq8zms.css\">\n\n
        \           \n                \n                \n                \n                <link
        rel=\"stylesheet\" ng-non-bindable media=\"screen\" href=\"https://assets.iterable.com/static/iterable-s3/vendor.e17638479634af2acfb2.css.gz\"/>\n
        \           \n\n            \n        </head>\n\n        <body>\n            \n
        \   <div class=\"error-content\" ng-non-bindable>\n        <h2> <img src=\"/assets/images/dead.svg\"
        alt=\"Broken\"/> Oh no- that url doesn't exist.</h2>\n        <h4>https://api.iterable.com/api/events</h4>\n
        \       <p>Double check that the url is correct and try again. If this keeps
        happening, please contact support@iterable.com.</p>\n    </div>\n\n        </body>\n
        \   </html>\n\n"
  recorded_at: Fri, 09 Feb 2024 13:08:01 GMT
recorded_with: VCR 6.2.0
